$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl-min}) {
    @content;
  }
}

.fadedIn {
  @include animate(fadeIn, 0.5s, 1);
}

.fadedOut {
  @include animate(fadeOut, 0.5s, 1);
  visibility: hidden;
}

.hided {
  display: none;
}

.success {
  color: $green;
}

.warning {
  color: $orange;
}

.error {
  color: $red;
}

.rolled {
  transform: scale(0);
  max-height: 0;
  transition: transform 0.5s ease-in-out, max-height 0.3s 0.3s ease-in-out;
}

.unrolled {
  transform: scale(1);
  max-height: auto;
  transition: transform 0.5s ease-in-out, max-height 0.5s 0 ease-in-out;
}

.blured {
  filter: opacity(30%);
  transition: filter 0.5s ease-in-out;
}

.unblured {
  filter: opacity(100%);
  transition: filter 0.5s ease-in-out;
}
