$black: black;
$white: #bfc2c4;
$textWhite: #f0f6fc;
$darkGray: #21252b;
$hoverGray: #8b949e;
$backgroudGray: #24292e;
$green: #2bb54b;
$hoverGreen: #1aa43a;
$inputBackground: rgba(255, 255, 255, 0.8);
$cardBackground: #31363f;
$red: #ff1744;
$orange: #ff5722;
$yellow: #ffc107;
$pink: #f50057;
$blue: #3f51b5;

$min-radius: 10px;

$animation-default-time: 1.2s;
