$black: black;
$white: #bfc2c4;
$textWhite: #f0f6fc;
$darkGray: #21252b;
$hoverGray: #8b949e;
$backgroudGray: #24292e;
$green: #2bb54b;
$hoverGreen: #1aa43a;
$inputBackground: rgba(255, 255, 255, 0.8);

$min-radius: 10px;

$animation-default-time: 1.2s;
